html {
  background-image: url(../img/httyd.jpg);
  background-position: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header {
  background-color: rgba(255, 255, 255, 0);
  margin: 10px auto;
  width: 900px;
  text-align: center;
  border: 2px solid black;
  border-radius: 5px;
  padding: 25px 100px;
}

hr {
  border-color: black;
}

.nav {
  text-decoration: none;
  margin: 0 10px;
}

.nav:hover {
  font-weight: bold;
}

.main {
  background-color: rgba(255, 255, 255, 0);
  margin: 50px auto;
  width: 900px;
  text-align: center;
  border: 2px solid black;
  border-radius: 5px;
  padding: 25px 100px;
}

.bold {
  font-weight: bold;
}
